@import url(https://fonts.googleapis.com/css?family=Raleway);
html, head, body, header, footer {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

.reset__list {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  list-style: none;
}

.-mg {
  margin-left: 1rem;
  margin-right: 1rem;
}

body {
  background-color: #F8EDE3;
}

.bgsecond {
  background-color: #A2B29F;
}

body {
  color: #333333;
  text-shadow: none;
}

.hero.-mainPage {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), black), url("../../img/hero_img_index.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}
.hero.-otherPages {
  height: 40vh;
  width: 100vw;
  background-color: #798777;
}
.hero__element {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__button {
  margin: 1rem;
}

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainNav__container {
  min-height: 5vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  color: #333333;
  background-color: rgba(189, 210, 182, 0.9);
}
@media screen and (min-width: 480px) {
  .mainNav__container {
    width: 100%;
  }
}
@media screen and (min-width: 780px) {
  .mainNav__container {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .mainNav__container {
    width: 972.8px;
  }
}
@media screen and (min-width: 1200px) {
  .mainNav__container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .mainNav__container {
    width: 1330px;
  }
}
.mainNav__menu {
  background-color: rgba(189, 210, 182, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin-top: 0px;
  top: 0px;
  left: 0px;
  width: 100vw;
  visibility: collapse;
  z-index: 0;
}
.mainNav__menu li {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: solid black 1px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.mainNav__menu li:last-child {
  border-bottom: none;
}
@media screen and (min-width: 1024px) {
  .mainNav__menu {
    background: none;
    height: 5vh;
    justify-content: center;
    visibility: visible;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .mainNav__menu li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
  }
}
@media screen and (min-width: 1024px) {
  .mainNav__menu-button-container .-close {
    display: none;
    visibility: hidden;
  }
  .mainNav__menu-button-container .-open {
    display: none;
    visibility: hidden;
  }
}
.mainNav__outNavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 25%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(248, 237, 227, 0.7);
}
.mainNav__outNavBar__logo {
  text-align: center;
}

#menu-toggle {
  display: none;
}
@media screen and (max-width: 1024px) {
  #menu-toggle + .mainNav__menu-button-container {
    z-index: 1;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #menu-toggle + .mainNav__menu-button-container .-open {
    display: block;
    visibility: visible;
  }
  #menu-toggle + .mainNav__menu-button-container .-close {
    display: none;
    visibility: hidden;
  }
  #menu-toggle:checked + .mainNav__menu-button-container .-open {
    display: none;
    visibility: hidden;
  }
  #menu-toggle:checked + .mainNav__menu-button-container .-close {
    z-index: 1;
    display: block;
    visibility: visible;
  }
  #menu-toggle:checked ~ .mainNav__menu {
    visibility: visible;
  }
}

.filler {
  height: 30vh;
  margin-top: 5rem;
  background: url("https://lespiedssurterre.blog/wp-content/uploads/2018/08/parc-monceau-running.jpg"), linear-gradient(to bottom, rgba(189, 210, 182, 0.5), rgba(162, 178, 159, 0.5));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.footer {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  align-content: space-between;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
@media screen and (min-width: 1024px) {
  .footer {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: space-around;
  }
}

.button {
  color: #333333;
  background-color: #BDD2B6;
  margin: 1rem;
  padding: 1rem;
  box-shadow: none;
  border: solid #333333 1px;
  border-radius: 10px;
}

.button:hover {
  color: #333333;
  background-color: #798777;
  border: solid #333333 1px;
}

.container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .container.-lg > * {
    width: 100%;
  }
}
@media screen and (min-width: 780px) {
  .container.-lg > * {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container.-lg > * {
    width: 972.8px;
  }
}
@media screen and (min-width: 1200px) {
  .container.-lg > * {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container.-lg > * {
    width: 1330px;
  }
}
@media screen and (min-width: 480px) {
  .container.-md > * {
    width: 100%;
  }
}
@media screen and (min-width: 780px) {
  .container.-md > * {
    width: 741px;
  }
}
@media screen and (min-width: 1024px) {
  .container.-md > * {
    width: 972.8px;
  }
}
@media screen and (min-width: 1200px) {
  .container.-md > * {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container.-md > * {
    width: 1330px;
  }
}

.newsExtract {
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 1024px) {
  .newsExtract {
    grid-template-columns: 1fr 2fr;
  }
  .newsExtract__title {
    grid-column: 1;
    grid-row: 1;
  }
  .newsExtract__figure {
    grid-column: 1;
    grid-row: 2/3;
  }
  .newsExtract__text {
    grid-column: 2;
    grid-row: 2;
  }
  .newsExtract__CTA {
    grid-column: 2;
    grid-row: 3;
  }
}
.newsExtract__title {
  display: block;
  margin: auto;
}
.newsExtract__figure {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.newsExtract__text {
  text-align: start;
}

.separator {
  border-top: 1px #333333 solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.indexNews {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.indexNews__title {
  text-align: center;
  margin-bottom: 3rem;
}

.programation {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.programation__content {
  flex: 1;
}
.programation__title {
  margin-bottom: 1rem;
  text-align: center;
}
.programation__CTA {
  margin-top: 3rem;
  text-align: center;
}
.programation__illustration {
  flex: 1;
}
.programation__illustration img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .programation {
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
