@import url(https://fonts.googleapis.com/css?family=Raleway);
html,
head,
body,
header,
footer {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

.reset__list {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  list-style: none;
}

.margin {
  margin-left: 1rem;
  margin-right: 1rem;
}

body {
  background-color: #c1e0f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bgsecond {
  background-color: #383b53;
  color: #fff;
}

body {
  color: #333333;
  text-shadow: none;
}

.hero.-mainPage {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url("../../img/hero_img_index.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}
.hero.-otherPages {
  height: 40vh;
  width: 100vw;
  background-color: #383b53;
}
.hero__content {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero__button {
  margin: 1rem;
}

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
}
.mainNav__container {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  width: 100%;
  color: #333333;
  background-color: rgba(0, 168, 120, 0.9);
}
@media screen and (min-width: 1024px) {
  .mainNav__container {
    width: 80%;
  }
}
.mainNav__menu {
  background-color: rgba(243, 156, 107, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin-top: 0px;
  top: 0px;
  left: 0px;
  width: 100vw;
  visibility: collapse;
  z-index: 0;
}
.mainNav__menu li {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: solid black 1px;
  text-align: center;
  width: 100%;
  height: 100%;
}
.mainNav__menu li:last-child {
  border-bottom: none;
}
@media screen and (min-width: 780px) {
  .mainNav__menu {
    background: none;
    height: 5vh;
    justify-content: center;
    visibility: visible;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .mainNav__menu li {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
  }
  .mainNav__menu-button-container .material-icons {
    display: none;
    visibility: hidden;
  }
}
.mainNav__outNavBar {
  background-color: rgba(56, 59, 83, 0.7);
  height: 100%;
  min-width: 40%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 780px) {
  .mainNav__outNavBar {
    min-width: 25%;
  }
}
.mainNav__outNavBar__logo {
  text-align: center;
}

#menu-toggle {
  display: none;
}
@media screen and (max-width: 780px) {
  #menu-toggle + .mainNav__menu-button-container {
    z-index: 1;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #menu-toggle + .mainNav__menu-button-container .-open {
    display: block;
    visibility: visible;
  }
  #menu-toggle + .mainNav__menu-button-container .-close {
    display: none;
    visibility: hidden;
  }
  #menu-toggle ~ .mainNav__menu {
    visibility: collapse;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
  #menu-toggle:checked + .mainNav__menu-button-container .-open {
    display: none;
    visibility: hidden;
  }
  #menu-toggle:checked + .mainNav__menu-button-container .-close {
    z-index: 1;
    display: block;
    visibility: visible;
  }
  #menu-toggle:checked ~ .mainNav__menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  }
}

.mediaContent {
  justify-content: center;
}
.mediaContent__text {
  color: #333333;
}
.mediaContent__CTA {
  text-align: center;
}

.filler {
  height: 30vh;
  margin-top: 5rem;
  background: url("https://lespiedssurterre.blog/wp-content/uploads/2018/08/parc-monceau-running.jpg"), linear-gradient(to bottom, rgba(0, 168, 120, 0.5), rgba(121, 173, 220, 0.5));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.footer {
  margin-top: 1rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
.footer__contact {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 1rem;
}
.footer__contact__icons {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.footer__CTA {
  text-align: center;
}
.footer.-minified {
  margin-top: 2rem;
  padding-top: 0.5rem;
  border-top: solid #383b53 1px;
}
.footer.-minified .footer__contact {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
  }
}

.button {
  color: #333333;
  background-color: #00a878;
  margin: 1rem;
  padding: 1rem;
  box-shadow: none;
  border: solid #333333 1px;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  color: #333333;
  background-color: #f39c6b;
  border: solid #333333 1px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.-lg > * {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .container.-lg > * {
    width: 80%;
  }
}
.container.-md > * {
  width: 100%;
}
@media screen and (min-width: 780px) {
  .container.-md > * {
    width: 80%;
  }
}
.container.-col {
  flex-direction: column;
}
.container.-row {
  flex-direction: row;
}

.newsexcerpt {
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template: "title" "figure" "text" "CTA";
}
.newsexcerpt__title {
  display: block;
  margin: auto;
  grid-area: title;
}
.newsexcerpt__figure {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  grid-area: figure;
}
.newsexcerpt__text {
  text-align: start;
  margin-left: 2rem;
  margin-right: 2rem;
  grid-area: text;
}
.newsexcerpt__CTA {
  grid-area: CTA;
}
.newsexcerpt.-card {
  justify-self: center;
  margin: 1rem;
  padding: 1rem;
  width: 80%;
}
.newsexcerpt.-card .newsexcerpt__text {
  justify-self: center;
  width: 70%;
  height: 100px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .newsexcerpt.-line {
    width: 100%;
    grid-template: "title . ." "figure text text" "figure CTA CTA"/1fr 1fr 1fr;
    height: auto;
  }
  .newsexcerpt.-line .newsexcerpt__text {
    margin: 0;
  }
  .newsexcerpt.-card {
    width: 100%;
    margin: 1rem;
    grid-template: "title" "figure" "text" "CTA";
  }
  .newsexcerpt.-card img {
    width: 100%;
    height: auto;
  }
  .newsexcerpt.-card .newsexcerpt__text {
    height: 100px;
    overflow: hidden;
  }
  .newsexcerpt.-card .newsexcerpt__CTA {
    text-align: center;
  }
}

.separator {
  border-top: 1px #333333 solid;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.film {
  display: grid;
}
.film__title {
  grid-area: title;
  text-align: center;
}
.film__figure {
  grid-area: figure;
}
.film__figure img {
  margin: auto;
  height: auto;
  width: 100%;
}
.film__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-area: content;
  max-height: 100%;
}
.film__CTA {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}
.film__CTA__reservation {
  text-align: center;
  flex: 1;
}
.film__CTA__full {
  flex: 1;
}
.film__CTA a {
  width: 75%;
  padding: none;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  .film__CTA {
    flex-direction: row;
    align-items: center;
  }
  .film__CTA a {
    width: 80%;
  }
}
.film.-excerpt {
  grid-template: "title" "figure" "content";
}
@media screen and (min-width: 1024px) {
  .film.-excerpt {
    grid-template: "title . " "figure content" "figure content"/1fr 1fr;
  }
}

.indexNews {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.indexNews__title {
  text-align: center;
  margin-bottom: 3rem;
}

.programation {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.programation__content {
  flex: 1;
}
.programation__title {
  margin-bottom: 1rem;
  text-align: center;
}
.programation__CTA {
  margin-top: 3rem;
  text-align: center;
}
.programation__illustration {
  flex: 1;
}
.programation__illustration img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .programation {
    flex-direction: row;
  }
}

.newsGrid {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 1024px) {
  .newsGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.films {
  display: flex;
  flex-direction: column;
}
.films__jour {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.films__jour h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-decoration: underline solid;
}
.films__film {
  margin-bottom: 1rem;
}

.flex {
  background-color: none;
  background: none;
  display: flex;
  width: 80vw;
  height: 20vh;
}

.palette {
  background: none;
  width: 100%;
  height: 100%;
  flex: 1;
}
.palette.primary {
  background-color: #00a878;
}
.palette.secondary {
  background-color: #79addc;
}
.palette.acentuation {
  background-color: #383b53;
}
.palette.complementary {
  background-color: #f39c6b;
}
.palette.background {
  background-color: #c1e0f7;
}

.filmSingleton {
  align-items: center;
  margin-top: 2rem;
}
.filmSingleton__figure {
  background-image: url(../../img/jurrasic_park.webp);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 56.2500024609vw;
  width: 100vw;
  position: relative;
  z-index: -1;
}
.filmSingleton__figure.-light {
  color: #fff;
}
.filmSingleton__figure.-light .filmSingleton__title, .filmSingleton__figure.-light .filmSingleton__category, .filmSingleton__figure.-light .filmSingleton__seance {
  background-color: #383b53;
}
.filmSingleton__figure.-dark {
  color: #333333;
}
.filmSingleton__figure.-dark .filmSingleton__title, .filmSingleton__figure.-dark .filmSingleton__category, .filmSingleton__figure.-dark .filmSingleton__seance {
  background-color: #79addc;
}
.filmSingleton__title {
  border-radius: 0.5rem;
  position: absolute;
  left: 50%;
  top: -1rem;
  transform: translateX(-50%);
  text-align: center;
  background-color: #383b53;
}
.filmSingleton__title h1 {
  margin: 0.5rem;
}
.filmSingleton__category {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(56, 59, 83, 0.7);
  border-radius: 0.2rem;
}
.filmSingleton__category p {
  margin: 0.3rem;
}
.filmSingleton__seance {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(56, 59, 83, 0.7);
  border-radius: 0.2rem;
}
.filmSingleton__seance p {
  margin: 0.3rem;
}
.filmSingleton__img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 780px) {
  .filmSingleton__figure {
    height: 45.0000019688vw;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .filmSingleton__figure {
    height: 33.7500014766vw;
    width: 60vw;
  }
}

/*# sourceMappingURL=main.css.map */
