//variables de couleur notamment.

$breakpoints:(
    "sm": 480px,
    "md": 780px,
    "lg": 1024px,
    "xl": 1200px,
    "xxl": 1400px
);
$primaryColor: #BDD2B6;
$secondaryColor: #A2B29F;
$acentuationColor: #798777;
$backgroundColor:#F8EDE3;
$textColorDark: #333333;
$textColorWhite:#fff;
$gradientColor1:White;
$gradientColor2:Black;
//etc...

$menuHeight: 5vh;