.programation{
    display: flex;
    flex-direction: column;
    &__jour{
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        h3{
            text-align: center;
            font-size: 1.5rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
            text-decoration: underline solid;
        }

    }
    &__film{
        margin-bottom: 1rem;
    }
}