
.mainMenu{
    height: $menuHeight;
    background-color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    &__container{
        
        height:100%;
        width:100%;
        @include min-media-margin(50,"lg");
        background-color: Blue;
        display: flex;
        justify-content: flex-end;
        &__link{
            width: 20%;
            background-color: red;
            padding: 1rem;
            text-align: center;
         }
        }

    

};