.margin {
  margin-left: 1rem;
  margin-right: 1rem;
}
body {
  background-color: $backgroundColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bgsecond {
  background-color: $acentuationColor;
  color: $textColorWhite;
}
