.container {
  &.-lg > * {
    @include min-media-margin("lg");
  }
  &.-md > * {
    @include min-media-margin("md");
  }
  display: flex;
  justify-content: center;
  align-items: center;
  &.-col{
    flex-direction: column;
  }
  &.-row{
    flex-direction: row;
  }
}
