.form {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-direction: column;
  flex-basis: 50%;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  height: 50vh;
  &__field {
    display: flex;
    flex-direction: row;
    label {

      flex: 2;
      min-width: fit-content;
      margin-right: 1rem;
    }
    input {
      flex: 3;
      &#quantity {
        text-align: center;
        max-width: 3rem;
      }
    }
  }
  &__submit {
    text-align: center;
  }
  @include min-media("md") {
    width: 60%;
    border: $acentuationColor 1px solid;
    align-content: center;
    &__field{
        margin: 1rem;
    }
  }
  @include min-media("lg"){
    width: 80%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__field{
        width: 40%;

    }
    &__submit{
        width: 100%;
    }
  }
  @include min-media("xl"){
    width: 60%;
    height: 40vh;
  }
}
